body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1717966313670-a42f6908be92?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-style: bold;
    text-align: right;
    color: coral;
    
}
h5{
    text-align: right;
    color: coral;
}
h2{
   
    color: coral;
    font-style: bold;

    text-align: center;
}
h4{
   color: coral;
    text-align: center;
}